<button (click)="allUsers()" class="btn btn-primary btn-sm">Get Users</button>
<div class="container">
<table class="table table-striped" *ngIf="users">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody class="md-6">
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><button (click)="changePassword(user.id)" class="btn btn-danger">Change Password</button>  <button (click)="deleteUser(user.id); allUsers()" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
