<form (ngSubmit)="createReimbursement()">
  <input type="text" [(ngModel)]="reimbursementForm.amount" name="amount" placeholder="Amount">
  <input type="text" [(ngModel)]="reimbursementForm.description" name="description" placeholder="Description">
  <button type="submit">Create Reimbursement</button>
</form>


<table>
  <tr>
    <th>Reimbursement ID</th>
    <th>Employee email</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let reimbursement of reimbursements">
    <td>{{reimbursement.id}}</td>
    <td>{{reimbursement.user.email}}</td>
    <td>{{reimbursement.amount}}</td>
    <td>{{reimbursement.description}}</td>
    <td>{{reimbursement.status}}</td>
    <button (click)="deleteReimbursement(reimbursement.id)">Delete</button>
  </tr>
</table>
