<form (ngSubmit)="saveTask()">
  <input type="text" [(ngModel)]="taskForm.description" name="description" placeholder="description">
  <input type="text" [(ngModel)]="taskForm.status" name="status" placeholder="status">
  <input type="text" [(ngModel)]="taskForm.assignedTo" name="assigned_to" placeholder="assigned_to">
  <button type="submit">Save</button>
</form>
<button (click)="ShowMyTasks()">Show Task</button>
<ul *ngIf="tasks">
  <li *ngFor="let task of tasks">
    <span>Description: {{task.description}} - </span>
    <span>Task Status:{{task.status}} </span>
    <span> - {{task.assigned | json}}</span>
  </li>
