
<!-- <form (ngSubmit)="register()" >
<label class="block mb-2 ml-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
<input type="text" [(ngModel)]="registerForm.username" name="username" placeholder="Username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
<div class="grid grid-cols-2 gap-4">
  <input type="text" [(ngModel)]="registerForm.password" name="password" placeholder="Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1">
  <input type="text" [(ngModel)]="registerForm.confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1">
</div>

<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Register</button>
</form> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="justify-center">Register</h2>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="registerForm.username" name="username">
        </div>
        <!-- <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div> -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="registerForm.password" name="password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password"class="form-control" id="confirmPassword" [(ngModel)]="registerForm.confirmPassword" name="confirmPassword" />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <div *ngIf="status" class="status">{{ status }}</div>
      </form>
    </div>
  </div>
</div>
