<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="login()" class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="loginForm.email" name="email" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
          <input type="password" [(ngModel)]="loginForm.password" name="password" placeholder="Password" class="form-control">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div><span><h2>{{status}}</h2></span></div>
